.button {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 50px;
  border: 0;
  outline: 0;
  cursor: pointer;

  &.wide {
    width: 100%;
  }

  &.sizeL {
    height: 50px;
  }

  &.sizeM {
    height: 42px;
  }

  &.sizeS {
    height: 35px;
  }

  &.primary {
    padding: 0 var(--spacing-s);
    color: var(--color-white);
    font-weight: var(--font-weight-500);
    background: var(--color-dark-grey);
    border: 1px solid var(--color-dark-grey);
    outline: none;
    transition: all 0.2s;

    &:hover {
      background: var(--color-black);
      border-color: var(--color-black);
    }

    &:active {
      color: var(--color-black);
      background: var(--color-white);
      border-color: var(--color-black);
    }

    &:disabled,
    &[disabled] {
      color: var(--color-medium-grey);
      background: var(--color-medium-light-grey);
      border-color: var(--color-medium-light-grey);
      cursor: default;
    }
  }

  &.secondary {
    padding: 0 var(--spacing-s);
    color: var(--color-black);
    background: var(--color-light-grey);
    border: 1px solid var(--color-light-grey);
    outline: none;
    transition: all 0.2s;

    &:hover {
      background: var(--color-medium-grey);
      border-color: var(--color-medium-grey);
    }

    &:active {
      background: var(--color-dark-grey);
      border-color: var(--color-dark-grey);
    }
  }
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.before {
  margin-right: var(--spacing-xs);
}

@media (--break-point-desktop-m) {
  .button {
    height: 42px;
  }
}

@media (--break-point-mobile) {
  .button {
    height: 35px;
    font-size: var(--font-size-s);
  }
}